version: 2.1
orbs:
  aws-cli: circleci/aws-cli@0.1.9
jobs:
  deploy_front_end_infra:
    working_directory: /app
    docker:
        - image: docker:17.05.0-ce-git
    steps:
        - checkout
        - run:
            name: Install Dependencies
            command: |
              apk add --no-cache \
                  py-pip=9.0.0-r1
              pip install \
                  docker-compose==1.12.0 \
                  awscli==1.16.113
        - run:
            name: Configure AWS CLI to Run as Admin
            command: |
                aws configure set aws_access_key_id $adminAccessKey
                aws configure set aws_secret_access_key $adminSecretAccessKey
                aws configure set default.region $REGION
        - run:
            name: Deploy Portfolio Frontend Stack
            command: |
             DomainParentHostedZoneID=$(aws route53 list-hosted-zones-by-name --query "(HostedZones[?Name=='bentrettin.com.'])[0].Id" --output text)
             CertificateArn=$(aws acm list-certificates --query "(CertificateSummaryList[?DomainName=='*.bentrettin.com'])[0].CertificateArn" --output text)
             aws cloudformation deploy --template-file portfolioFrontendStack.yaml --stack-name bentrettinportfoliostack --no-fail-on-empty-changeset --parameter-overrides BucketNameArgument=${FrontendDeploymentBucket} DomainName=www.bentrettin.com HostedZoneId=${DomainParentHostedZoneID} AcmCertificate=${CertificateArn}
            no_output_timeout: 1h


  deploy_code_react_to_cloud_front:
      working_directory: ~/app
      docker:
          - image: circleci/node:8.11.0
      steps:
          - checkout
          - run:
              name: Clone React Repo
              command: |
                git clone https://github.com/btrettin/my-portfolio
          - run:
              name: update-npm
              command: 'sudo npm install -g npm@latest'
          - run:
              name: Install Dependencies
              command: |
                cd my-portfolio
                npm install --only=dev
                npm install
          - run:
              name: Added domainRequests.json
              command: |
                touch ./my-portfolio/src/domainRequests.json
                echo "{}" >> ./my-portfolio/src/domainRequests.json
          - run:
              name: Unit Tests For React
              command: |
                cd my-portfolio && npm run test
          - run:
              name: Build React
              command: |
                cd my-portfolio && npm run build
          - run:
              name: Install AWS CLI
              command: |
                sudo apt-get -y -qq install awscli
          - run:
              name: Configure AWS CLI to Run as Admin
              command: |
                  aws configure set aws_access_key_id $AWS_ACCESS_KEY
                  aws configure set aws_secret_access_key $SECRET_AWS_ACCESS_KEY
                  aws configure set default.region $REGION
          - run:
              name: Ship Build File To S3 Bucket
              command: |
                 aws configure set aws_access_key_id $AWS_ACCESS_KEY
                 aws configure set aws_secret_access_key $SECRET_AWS_ACCESS_KEY
                 aws configure set default.region $REGION
                 cd my-portfolio
                 echo $FrontendDeploymentBucket
                 aws s3 mv ./build s3://${FrontendDeploymentBucket} --recursive --acl public-read-write
workflows:
    version: 2
    build_and_test:
        jobs:
            - deploy_front_end_infra
            - deploy_code_react_to_cloud_front:
                requires:
                  - deploy_front_end_infra
